$red: #FC4747;
$dark-blue: #10141E;
$greyish-blue: #5A698F;
$semi-dark-blue: #161D2F;
$pure-white: white;
$smallpure-white: #C3C4C7;

$h1-size: 2rem;
$h2-size: 1.5rem;
$h3-size: $h2-size;
$h4-size: 1.125rem;
$paragraph-size: 1rem;
$smallText-size: 0.8125rem;

$heavy-weight: 600;
$medium-weight: 400;
$light--weight: 200;

$tablet-resolution: 770px;
$mobile-resolution: 375px;


/*Document Styling*/

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    color: $pure-white;
}

/*Universal (Sass) Styling*/

h1{
    font-size: $h1-size;
    font-weight: $light--weight;
}

h2{
    font-size: $h2-size;
    font-weight: $light--weight;
}

h3{
    font-size: $h3-size;
    font-weight: $medium-weight;
}

h4{
    font-size: $h4-size;
    font-weight: $medium-weight;
}

p{
    font-size: $paragraph-size;
    font-weight: $light--weight;
}

.smallText{
    font-size: $smallText-size;
    font-weight: $light--weight;
    color: $smallpure-white;
}

/*Document Styling*/

html{
    background-color: $dark-blue;
}

html, body, #root{
    height: 100%;
}

#root{
    padding: 32px;
    display: flex;
}

/*Nav*/
#LHS{
    height: 100%;
    position: sticky;
}

#RHS{
    width: 100%;
    padding-left: 37px;
}

nav{
    background-color: $semi-dark-blue;
    height: 100%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    width: 96px;
    align-items: center;
    padding: 32px 0px 32px 0px;
    position: relative;
    min-height: 500px;
}

.nav--logo{
    height: 26px;
    width: auto;
}

.nav--secondaryIcons{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 35px;
}

.nav--secondaryIcons>a{
    margin-top: 40px;
    height: 20px;
}

.nav--icon{
    aspect-ratio: 1/1;
    height: 100%;
}

.nav--iconHighlighted{
    filter: brightness(100);
}

.nav--secondaryIcons img:hover{
    filter: invert(36%) sepia(64%) saturate(3076%) hue-rotate(337deg) brightness(100%) contrast(100%);
}

#nav--avatar{
    position: absolute;
    bottom: 32px;
    aspect-ratio: 1/1;
    height: 40px;
}

/*Search Bar*/

.searchbar{
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1240px;
    font-size: $h2-size;
    margin-bottom: 20px;
}

#searchbar--input{
    all: unset;
    width: 100%;
    caret-color: $red;
    border: 1px solid transparent;
    padding: 14px 0px 14px 0px;
}

#searchbar--input:focus{
    border-bottom: 1px solid $greyish-blue;
}

#searchbar--icon{
    height: 27px;
    aspect-ratio: 1/1;
    margin-right: 15px;
}

@media only screen and (max-width: $tablet-resolution){
    #root{
        flex-direction: column;
    }
    /*Nav*/
    #LHS{
        width: 100%;
        padding: 25px;
        height: min-content;
    }

    #RHS{
        padding: 0px 25px 0px 25px;
    }

    nav{
        width: 100%;
        flex-direction: row;
        min-height: auto;
        height: clamp(56px, 10vh, 72px);
        justify-content: space-between;
        padding: 25px;
        border-radius: 10px;
    }

    .nav--secondaryIcons{
        flex-direction: row;
        margin: 0px;
    }

    .nav--secondaryIcons>a{
        margin: 0px 12px 0px 12px;
    }

    #nav--avatar{
        position: relative;
        bottom: 0px;
    }
}