/*Document Styling*/
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  color: white;
}

/*Universal (Sass) Styling*/
h1 {
  font-size: 2rem;
  font-weight: 200;
}

h2 {
  font-size: 1.75rem;
  font-weight: 600;
}

h3 {
  font-size: 1.75rem;
  font-weight: 600;
}

h4 {
  font-size: 1.125rem;
  font-weight: 600;
}

p {
  font-size: 1rem;
  font-weight: 200;
}

.smallText {
  font-size: 0.8125rem;
  font-weight: 200;
  color: #C3C4C7;
}

/*Document Styling*/
html {
  background-color: #10141E;
}

html, body, #root {
  height: 100%;
  width: 100%;
}

#root {
  display: flex;
}

/*Nav*/
#LHS {
  height: 100%;
  width: min-content;
  position: sticky;
}

#RHS {
  width: 100%;
  padding-left: 37px;
}

nav {
  background-color: #161D2F;
  height: 100%;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px 0px 32px 0px;
  position: relative;
  min-height: 500px;
  width: 60px;
}

.nav--logo {
  height: 26px;
  width: auto;
}

.nav--secondaryIcons {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 35px;
}

.nav--secondaryIcons > a {
  margin-top: 40px;
  height: 20px;
}

.nav--icon {
  aspect-ratio: 1/1;
  height: 100%;
}

.nav--iconHighlighted {
  filter: brightness(100);
}

.nav--secondaryIcons img:hover {
  filter: invert(36%) sepia(64%) saturate(3076%) hue-rotate(337deg) brightness(100%) contrast(100%);
}

#nav--avatar {
  position: absolute;
  bottom: 32px;
  aspect-ratio: 1/1;
  height: 40px;
}

/*Search Bar*/
.searchbar {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1240px;
  font-size: 1.75rem;
  margin-bottom: 20px;
}

#searchbar--input {
  all: unset;
  width: 100%;
  caret-color: #FC4747;
  border: 1px solid transparent;
  padding: 14px 0px 14px 0px;
}

#searchbar--input:focus {
  border-bottom: 1px solid #5A698F;
}

#searchbar--icon {
  height: 27px;
  aspect-ratio: 1/1;
  margin-right: 15px;
}

/*Card*/
.card {
  position: relative;
}

.card span {
  aspect-ratio: 1/1;
  height: 4px;
  border-radius: 50%;
  background-color: #979797;
}

.trending {
  min-width: 550px;
  height: 270px;
  background-size: cover;
  border-radius: 8px;
  margin-right: 40px;
}

.card--details {
  position: absolute;
  bottom: 0px;
  margin: 25px;
}

.card--specs {
  display: flex;
  width: 150px;
  justify-content: space-between;
  align-items: center;
}

/*Home*/
main {
  max-width: 100%;
}

.trending--section {
  display: flex;
  overflow-x: scroll;
  padding-bottom: 10px;
  margin-top: 25px;
  width: 100%;
}

.trending--section::-webkit-scrollbar {
  height: 5px;
  width: 5px;
}

.trending--section::-webkit-scrollbar-track {
  border-radius: 10px;
}

.trending--section::-webkit-scrollbar-thumb {
  background: #161D2F;
  border-radius: 1px;
}

.trending--section::-webkit-scrollbar-thumb:hover {
  background: #050608;
}

@media only screen and (max-width: 770px) {
  #root {
    flex-direction: column;
    padding: 23px;
  }
  /*Nav*/
  #LHS {
    width: 100%;
    height: -moz-min-content;
    height: min-content;
  }
  #RHS {
    padding: 0px;
  }
  nav {
    width: 100%;
    flex-direction: row;
    min-height: auto;
    height: clamp(56px, 10vh, 72px);
    justify-content: space-between;
    padding: 25px;
    border-radius: 10px;
  }
  .nav--secondaryIcons {
    flex-direction: row;
    margin: 0px;
  }
  .nav--secondaryIcons > a {
    margin: 0px 12px 0px 12px;
  }
  #nav--avatar {
    position: relative;
    bottom: 0px;
  }
}/*# sourceMappingURL=App.css.map */