$red: #FC4747;
$dark-blue: #10141E;
$greyish-blue: #5A698F;
$semi-dark-blue: #161D2F;
$pure-white: white;
$smallpure-white: #C3C4C7;

$h1-size: 2rem;
$h2-size: 1.5rem;
$h3-size: $h2-size;
$h4-size: 1.125rem;
$paragraph-size: 1rem;
$smallText-size: 0.8125rem;

$heavy-weight: 600;
$medium-weight: 400;
$light--weight: 200;


/*Document Styling*/

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    color: $pure-white;
}

/*Universal (Sass) Styling*/

h1{
    font-size: $h1-size;
    font-weight: $light--weight;
}

h2{
    font-size: $h2-size;
    font-weight: $light--weight;
}

h3{
    font-size: $h3-size;
    font-weight: $medium-weight;
}

h4{
    font-size: $h4-size;
    font-weight: $medium-weight;
}

p{
    font-size: $paragraph-size;
    font-weight: $light--weight;
}

.smallText{
    font-size: $smallText-size;
    font-weight: $light--weight;
    color: $smallpure-white;
}

/*Document Styling*/
html{
    background-color: $dark-blue;
}

html, body, #root{
    height: 100%;
}

/*Nav*/
#LHS{
    height: 100%;
    position: fixed;
    padding: 32px;
}

nav{
    background-color: $semi-dark-blue;
    height: 100%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    width: 96px;
    align-items: center;
    padding: 32px 0px 32px 0px;
    position: relative;
}

.nav--logo{
    height: 26px;
    width: auto;
}

.nav--secondaryIcons{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav--secondaryIcons>a{
    margin-top: 40px;
    height: 20px;
}

.nav--secondaryIcons img{
    aspect-ratio: 1/1;
    height: 100%;
}

#nav--avatar{
    position: absolute;
    bottom: 32px;
    aspect-ratio: 1/1;
    height: 40px;
}